.bg{
    &-about{
        &-desc{
            @include set-background($bg__about-desc-img,0,"right bottom","cover","scroll");
        }
        &-ext{
            @include set-background($bg__about-ext-img,0,"left top","cover","scroll");
        }
    }
    &-footer{
        @include set-background($bg__footer-img,0,"center right","cover","scroll");
    }
    &-gallery{        
        @include set-background($bg__gallery-img,0,"center right","cover","scroll");
    }
    &-green{
        background-color: $color__green !important;
    }
    &-home{        
        @include set-background($bg__home-img,0,"top right","cover","scroll");
    }
    &-lime{
        background-color: $color__lime!important;
    }
    &-offer{        
        @include set-background($bg__offer-img,0,"center right","cover","scroll");
    }
}
.border{
    &-green{
        border-color: $color__green !important;
    }
    &-lime{
        border-color: $color__lime!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top left","cover","fixed");
    }
    &-form {
        ::-webkit-input-placeholder { 
            color: white;
          }
          ::-moz-placeholder { 
            color: white;
          }
          :-ms-input-placeholder { 
            color: white;
          }
          :-moz-placeholder { 
            color: white;
          }
    }
}
.login{
    &-form {
        @include set-background($bg__login-img,0,"top left","cover","fixed");

        ::-webkit-input-placeholder { 
            color: white;
          }
          ::-moz-placeholder { 
            color: white;
          }
          :-ms-input-placeholder { 
            color: white;
          }
          :-moz-placeholder { 
            color: white;
          }
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
}
.placeholder{
    &-lime{
        &::placeholder{
            color: $color__lime!important;
        }
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-green{
        color: $color__green !important;
    }
    &-lime{
        color: $color__lime!important;
    }
    &-shadow-white{
        text-shadow: $text__shadow--white;
    }
}
.offer{
    &-s4{
        background-blend-mode: multiply !important;
        background-color: #777 !important;
    }
}
textarea{
    resize: none;
}

@media all and (max-width: 767px){
    .bedroom,.kitchen,.livingroom{
        &-s1{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1{
            background-position: right!important;
        }
    }
    .index{
        &-s1,&-s2,&-s3{
            * {
                color: #fff!important;
                text-shadow: $text__shadow;
            }
            background-blend-mode: multiply !important;
            background-color: #999 !important;
        }
        &-s1,&-s3{
            background-position: right!important;
        }
    }
    .navbar{
        &-toggler{
            background-color: #555;
            border-color: #333;
        }
        &-nav{
            background-color: #aaa;
            border: 1px solid #333;
            opacity: 0.9;
            padding: 10px
        }
    }
}